*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
  }
body{
  background:#f2f4f8;
  display:flex;
  justify-content:center;
  margin-top:50px;
}
.app{
  background:white;
  width:350px;
  padding:20px;
  border-radius:12px;
  box-shadow: 0 10px 25px rgba(0,0,0, .1);
}



