*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
  }
body{
  background:#f2f4f8;
  display:flex;
  justify-content:center;
  margin-top:50px;
}
.box{
border:none;
  border-radius:20px;
  
  
}
.box h2{
  font-size:40px;
}
.input-box{

}


